.header {
  width: 100%;
  background-color: #0000E6;
  height: 58px;
}
.header .logo {
  padding: 9px 16px;
  width: 37px;
  float: left;
}
.header .title {
  color: #e4e4e4;
  font-size: 22px;
  border-left: 1px solid #b9b9b9;
  padding: 15px 18px;
  float: left;
}
.header .refresh-button {
  color: #e4e4e4;
  font-size: 22px;
  border-left: 1px solid #b9b9b9;
  padding: 15px 18px;
  float: left;
  cursor: pointer;
}
.header .refresh-button:hover{
  background-color: rgb(51, 51, 223);
}
.formFields{
  padding-left: 10px;
  padding-top: 20px;
}
.formFields .input{
  padding-left: 10px;
}
.error{
  font-size: 20px;
  font-family: unset;
  color: peru;
}
