.tile {
  padding: 15px;
  background-color: #0000E6;
  color: #e4e4e4;
  margin-left: 1px;
  margin-top: 1px;
  width: 150px;
  float: left;
  height: 53px;
  -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.tile.faild {
  background-color: #e43216;
  -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.tile.loading {
  background-color: #0da00d;
  -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.tile.waiting {
  background-color: #d0ae09;
  -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
h2 {
  margin: 0;
}
